<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Extract Secret</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="card">

        <h2>🔍 Extract Message</h2>

        <form th:action="@{/extract}" method="post" enctype="multipart/form-data">

            <input type="file" name="file" accept="image/png" required>

            <input type="password" id="password" name="password" placeholder="Password">

            <button type="submit">Extract</button>
        </form>

        <p th:if="${message}" class="success">
            🔓 Message: <span th:text="${message}"></span>
        </p>

        <p th:if="${error}" class="error" th:text="${error}"></p>

        <div class="nav-links">
            <a href="/dashboard">⬅ Back</a>
        </div>
</div>
</div>

</body>
</html>