<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="card">

        <h2>🔐 Digital Steganography</h2>

        <p class="subtitle">
            Hide and Extract Secret Messages in Images
        </p>

        <div class="dashboard-actions">
            <a href="/embed">
                <button class="primary-btn">🔐 Embed Message</button>
            </a>

            <a href="/extract">
                <button class="secondary-btn">🔍 Extract Message</button>
            </a>
        </div>

    </div>
</div>
</body>
</html>
