<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>🔐 Digital Steganography</h1>
    <p>Hide and Extract Secret Messages in Images</p>

    <div class="buttons">
        <a href="/embed"><button>🔐 Embed Message</button></a>
        <a href="/extract"><button>🔍 Extract Message</button></a>
    </div>
</div>

</body>
</html>